select#cityselector {
    border-left: none;
    color: #4E3D33;
    border-right: none;
    padding: 11px 30px 13px 9px;
    border-color: #8F9CAE;
}

input#datain {
    position: relative;
    border-radius: 10px 0px 0px 10px;
    border-right: none;
    padding: 9px 30px 9px 9px;
    border-color: #8F9CAE;
}

span#near {
    display: inline;
    color: #4E3D33;
    border-top: 1px solid #8F9CAE;
    border-bottom: 1px solid #8F9CAE;
    padding: 12px 30px 14px 9px;
}

input#sebt {
    background: #47525E;
    border-radius: 0px 10px 10px 0px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

input#sebt:hover {
    background: #5d646b;
    text-decoration: none;
}

#row2 {
    border-top: 3px solid #DACFFB;
}

#DIV_1 {
    box-sizing: border-box;
    color: rgb(90, 90, 90);
    height: 316px;
    text-decoration: none solid rgb(90, 90, 90);
    text-size-adjust: 100%;
    width: 1110px;
    column-rule-color: rgb(90, 90, 90);
    perspective-origin: 555px 158px;
    transform-origin: 555px 158px;
    caret-color: rgb(90, 90, 90);
    border: 0px none rgb(90, 90, 90);
    font: normal normal 400 normal 16px / 24px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 48px 0px;
    outline: rgb(90, 90, 90) none 0px;
}


/*#DIV_1*/

#DIV_1:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(90, 90, 90);
    content: '""';
    display: block;
    height: 0px;
    text-decoration: none solid rgb(90, 90, 90);
    text-size-adjust: 100%;
    width: 1110px;
    column-rule-color: rgb(90, 90, 90);
    perspective-origin: 555px 0px;
    transform-origin: 555px 0px;
    caret-color: rgb(90, 90, 90);
    border: 0px none rgb(90, 90, 90);
    font: normal normal 400 normal 16px / 24px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    outline: rgb(90, 90, 90) none 0px;
}


/*#DIV_1:after*/

#DIV_2 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(90, 90, 90);
    float: left;
    height: 225px;
    left: 0px;
    min-height: 1px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(90, 90, 90);
    text-size-adjust: 100%;
    top: 0px;
    width: 647.5px;
    column-rule-color: rgb(90, 90, 90);
    perspective-origin: 323.75px 112.5px;
    transform-origin: 323.75px 112.5px;
    caret-color: rgb(90, 90, 90);
    border: 0px none rgb(90, 90, 90);
    font: normal normal 400 normal 16px / 24px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    outline: rgb(90, 90, 90) none 0px;
    padding: 0px 15px;
}


/*#DIV_2*/

#H2_3 {
    box-sizing: border-box;
    color: rgb(90, 90, 90);
    height: 44px;
    letter-spacing: -0.8px;
    text-decoration: none solid rgb(90, 90, 90);
    text-size-adjust: 100%;
    width: 617.5px;
    column-rule-color: rgb(90, 90, 90);
    perspective-origin: 308.75px 22px;
    transform-origin: 308.75px 22px;
    caret-color: rgb(90, 90, 90);
    border: 0px none rgb(90, 90, 90);
    font: normal normal 300 normal 44.8px / 44.8px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 56px 0px 16px;
    outline: rgb(90, 90, 90) none 0px;
}


/*#H2_3*/

#P_4 {
    box-sizing: border-box;
    color: rgb(109, 118, 125);
    height: 93px;
    text-decoration: none solid rgb(109, 118, 125);
    text-size-adjust: 100%;
    width: 617.5px;
    column-rule-color: rgb(109, 118, 125);
    perspective-origin: 308.75px 46.5px;
    transform-origin: 308.75px 46.5px;
    caret-color: rgb(109, 118, 125);
    border: 0px none rgb(109, 118, 125);
    font: normal normal 300 normal 20.8px / 31.2px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0px 0px 16px;
    outline: rgb(109, 118, 125) none 0px;
}


/*#P_4*/

#DIV_5 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(90, 90, 90);
    float: left;
    height: 316px;
    left: 0px;
    min-height: 1px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(90, 90, 90);
    text-size-adjust: 100%;
    top: 0px;
    width: 462.5px;
    column-rule-color: rgb(90, 90, 90);
    perspective-origin: 231.25px 158px;
    transform-origin: 231.25px 158px;
    caret-color: rgb(90, 90, 90);
    border: 0px none rgb(90, 90, 90);
    font: normal normal 400 normal 16px / 24px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    outline: rgb(90, 90, 90) none 0px;
    padding: 0px 15px;
}


/*#DIV_5*/

#IMG_6 {
    box-sizing: border-box;
    color: rgb(90, 90, 90);
    height: 346px;
    max-width: 100%;
    text-decoration: none solid rgb(90, 90, 90);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 432.5px;
    column-rule-color: rgb(90, 90, 90);
    perspective-origin: 216.25px 173px;
    transform-origin: 216.25px 173px;
    caret-color: rgb(90, 90, 90);
    border: 0px none rgb(90, 90, 90);
    font: normal normal 400 normal 16px / 24px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0px 0px -30px;
    outline: rgb(90, 90, 90) none 0px;
}


/*#IMG_6*/

#HR_1 {
    color: rgb(90, 90, 90);
    height: 0px;
    text-decoration: none solid rgb(90, 90, 90);
    text-size-adjust: 100%;
    width: 1110px;
    column-rule-color: rgb(90, 90, 90);
    perspective-origin: 555px 0.5px;
    transform-origin: 555px 0.5px;
    caret-color: rgb(90, 90, 90);
    border-top: 1px solid rgba(1, 1, 1, 1.1);
    border-right: 0px none rgb(90, 90, 90);
    border-bottom: 0px none rgb(90, 90, 90);
    border-left: 0px none rgb(90, 90, 90);
    font: normal normal 400 normal 16px / 24px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 80px 0px;
    outline: rgb(90, 90, 90) none 0px;
    overflow: visible;
}


/*#HR_1*/

#DIV_11 {
    box-sizing: border-box;
    color: rgb(90, 90, 90);
    height: 262.094px;
    text-decoration: none solid rgb(90, 90, 90);
    text-size-adjust: 100%;
    width: 1110px;
    column-rule-color: rgb(90, 90, 90);
    perspective-origin: 555px 131.047px;
    transform-origin: 555px 131.047px;
    caret-color: rgb(90, 90, 90);
    border: 0px none rgb(90, 90, 90);
    font: normal normal 400 normal 16px / 24px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 48px 0px;
    outline: rgb(90, 90, 90) none 0px;
}


/*#DIV_1*/

#DIV_11:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(90, 90, 90);
    content: '""';
    display: block;
    height: 0px;
    text-decoration: none solid rgb(90, 90, 90);
    text-size-adjust: 100%;
    width: 1110px;
    column-rule-color: rgb(90, 90, 90);
    perspective-origin: 555px 0px;
    transform-origin: 555px 0px;
    caret-color: rgb(90, 90, 90);
    border: 0px none rgb(90, 90, 90);
    font: normal normal 400 normal 16px / 24px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    outline: rgb(90, 90, 90) none 0px;
}


/*#DIV_1:after*/

#DIV_21 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(90, 90, 90);
    float: left;
    height: 194px;
    left: 462.5px;
    min-height: 1px;
    position: relative;
    right: -462.5px;
    text-decoration: none solid rgb(90, 90, 90);
    text-size-adjust: 100%;
    top: 0px;
    width: 647.5px;
    column-rule-color: rgb(90, 90, 90);
    perspective-origin: 323.75px 97px;
    transform-origin: 323.75px 97px;
    caret-color: rgb(90, 90, 90);
    border: 0px none rgb(90, 90, 90);
    font: normal normal 400 normal 16px / 24px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    outline: rgb(90, 90, 90) none 0px;
    padding: 0px 15px;
}


/*#DIV_2*/

#H2_31 {
    box-sizing: border-box;
    color: rgb(90, 90, 90);
    height: 44px;
    letter-spacing: -0.8px;
    text-decoration: none solid rgb(90, 90, 90);
    text-size-adjust: 100%;
    width: 617.5px;
    column-rule-color: rgb(90, 90, 90);
    perspective-origin: 308.75px 22px;
    transform-origin: 308.75px 22px;
    caret-color: rgb(90, 90, 90);
    border: 0px none rgb(90, 90, 90);
    font: normal normal 300 normal 44.8px / 44.8px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 56px 0px 16px;
    outline: rgb(90, 90, 90) none 0px;
}


/*#H2_3*/

#DIV_51 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(90, 90, 90);
    float: left;
    height: 262.094px;
    left: -647.5px;
    min-height: 1px;
    position: relative;
    right: 647.5px;
    text-decoration: none solid rgb(90, 90, 90);
    text-size-adjust: 100%;
    top: 0px;
    width: 462.5px;
    column-rule-color: rgb(90, 90, 90);
    perspective-origin: 231.25px 131.047px;
    transform-origin: 231.25px 131.047px;
    caret-color: rgb(90, 90, 90);
    border: 0px none rgb(90, 90, 90);
    font: normal normal 400 normal 16px / 24px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    outline: rgb(90, 90, 90) none 0px;
    padding: 0px 15px;
}


/*#DIV_5*/

#P_41 {
    box-sizing: border-box;
    color: rgb(109, 118, 125);
    height: 93px;
    text-decoration: none solid rgb(109, 118, 125);
    text-size-adjust: 100%;
    width: 617.5px;
    column-rule-color: rgb(109, 118, 125);
    perspective-origin: 308.75px 46.5px;
    transform-origin: 308.75px 46.5px;
    caret-color: rgb(109, 118, 125);
    border: 0px none rgb(109, 118, 125);
    font: normal normal 300 normal 20.8px / 31.2px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0px 0px 16px;
    outline: rgb(109, 118, 125) none 0px;
}


/*#P_4*/

#INPUT_3 {
    color: rgb(44, 142, 187);
    display: block;
    height: 30.4219px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(44, 142, 187);
    text-size-adjust: 100%;
    touch-action: manipulation;
    width: 700px;
    column-rule-color: rgb(44, 142, 187);
    order: 2;
    perspective-origin: 546.813px 16.2031px;
    transform-origin: 546.813px 16.2031px;
    caret-color: rgb(44, 142, 187);
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(44, 142, 187);
    flex: 1 1 auto;
    font: normal normal 400 normal 16px / 24px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0px 0px 0px 8px;
    outline: rgb(44, 142, 187) none 0px;
    padding: 1px;
}


/*#INPUT_3*/