.let {
  display: inline-block
}
.input {
  background-image: none;
  border: solid;
  border-radius: 1;
 margin-bottom: 10em;
}
.low{
margin-top: 30em;
margin-left: 45%;
}
.person-wrapper {
  margin-bottom: 2em;
}
.profile-pic {
  width: 25%;
  margin-left: 50%;
}


h5{

text-align: center;
}

.img-with-text {
    text-align: justify;
    width: [width of img];
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

